@import '../../styles';

.main-page{
	display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.menu-icon{
	position: absolute;
	margin: 20px;
	cursor: pointer;
}

.active{
	display: flex;
	&-bar{
		width: 100%;
		margin: 0px;
	}
}

.inactive{
	display: none;
	&-bar{
		width: 0%;
		padding: 0px !important;
		border-right: 0px;
		margin-right: 40px;
	}
}

.side-bar{
	border-right: $theme-border 5px solid;
    min-height: 100%;
	height: 100%;
	max-width: 200px;
	padding-left: 10px;
	flex-direction: column;
    overflow: hidden;
	transition: width 0.5s, border 0.5s, padding 0.5s;
}
.grid-view{
	overflow-y: scroll;
    width: inherit;
    position: relative;
    height: 100%;
}