/* You can add global styles to this file, and also import other style files */

*{
	// to cancel selection highlight: https://css-tricks.com/almanac/properties/u/user-select/;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none !important;          /* Likely future */
}

input{
	-webkit-user-select: auto; 
	-moz-user-select: auto;    
	-ms-user-select: auto;     
	user-select: auto !important;
}

label{
	font-size: 14px;
	color: white;
}

.btn{
	background-color: white;
	color: darkred;
	font-size: 12px;
	font-weight: bolder;
}

$theme-border: black;
$card-bg: darkred;
$card-font: white;
$form-bg: gray;